html {
    scroll-behavior: smooth;
}

div#comp-j6htcuyf-pinned-layer,
div#comp-j6htgi84-pinned-layer,
header#SITE_HEADER {
    margin-top: 0 !important;
}

div#SITE_HEADER-placeholder {
    height: 0;
    display: none;
}

.bgImage > img {
    width: 100% !important;
}

/* .UaEf2 {
    display: block;
}

@media only screen and (max-width: 1150px) {
    .UaEf2 {
        display: none;
    }
} */
