html {
    scroll-behavior: smooth;
}

div#comp-j6htcuyf-pinned-layer,
div#comp-j6htgi84-pinned-layer,
header#SITE_HEADER {
    margin-top: 0 !important;
}

div#SITE_HEADER-placeholder {
    height: 0;
    display: none;
}

.bgImage > img {
    width: 100% !important;
}

/* Immagine in index col faro (1518x744px): */
#img_comp-j6w6mgx8 img {
    width: auto !important;
}
@media only screen and (min-width: 1518px) {
    #img_comp-j6w6mgx8 img {
        width: 100% !important;
    }
}

/* Immagine in terapia col libro: */
#img_comp-j6w85ro0 img {
    width: auto !important;
}
@media only screen and (min-width: 1600px) {
    #img_comp-j6w6mgx8 img {
        width: 100% !important;
    }
}

div#SITE_PAGES div#comp-j6w6mgy9 a {
    text-decoration: underline;
    display:inline-block;
}

div#comp-kij0sk70 a {
    text-decoration: none !important;
}